<html>
<head><title>My Quiz</title></head>
<body>

<h2>Hello there!</h2>
<p>Let's take a quiz!</p>
<form action="/question" method="GET">
  <input type="submit" value="start">
</form>

<p><a href="/startover">Start Over</a></p>
</body>
</html>
