<% if result %>
<p>Correct!</p>
<img src="http://i.giphy.com/U3I5ZJPFJpXRm.gif"/>
<% else %>
<p>Wrong!</p>
<img src="http://i.giphy.com/11SJ52YouBaDFS.gif"/>
<% end %>

<p><a href="/question">Next Question...</a></p>